.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  background-color: #303030;
  color: whitesmoke;
  padding: 20px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: whitesmoke;
}

.link:hover {
  color: lightgreen;
}

.auth-user {
  margin-left: auto;
}
