.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 50px;
  align-items: center;
  /* height: 100vh; */
}

.form-group {
  padding: 20px;
  border: 1px solid black;
  width: 440px;
  border-radius: 10px;
  background-color: #303030;
}

.form-control label {
  display: block;
  margin: 10px 0;
  color: whitesmoke;
}

.form-control input {
  padding: 10px;
  width: 90%;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
}

.password-block {
  display: flex;
  align-items: center;
}

.icon-info {
  color: whitesmoke;
  width: 20px;
  height: 20px;
}

.toSignUp {
  color: whitesmoke;
  cursor: pointer;
}
